#train-table th,
td {
  display: inline-block;
  width: 16.575%;
}

body {
    background-image: url("../images/train_forest.jpg");
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center top;
    max-width: auto;
}

#head1 {
    font-family: 'Playfair Display', serif;
    font-size: 90px;
    color:  #336666;
}

#head3 {
    font-family: 'News Cycle', sans-serif;
    letter-spacing: 5px;
    color:  #336666;
}

#box-color {
    background-color: #ffffff;
    opacity: 0.9;
}

#header-color {
    color:  #336666;
}

#head-style {
    background-color: #336666;
    color: #ffffff;
}

/* .submit-color {
    background-color: #336666;
} */